<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @pet_history.pet %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet_history.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @pet_history.height %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @pet_history.observation %>
</p>

<%= link_to 'Edit', edit_pet_history_path(@pet_history) %> |
<%= link_to 'Back', pet_histories_path %>
